<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc file="contribution1.xml"/>
      <toc file="contribution2.xml"/>
      <toc file="example1.xml"/>
      <toc file="example2.xml"/>
      <toc file="jdt.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category name="Example cheat sheets" id="com.packtpub.e4.advanced.doc.category"/>
      <cheatsheet
            composite="false"
            contentFile="cheatsheets/javaApplication.xml"
            id="com.packtpub.e4.advanced.doc.cheatsheet.javaApplication"
            name="Creating a Java application">
      </cheatsheet>
      <cheatsheet
            composite="true"
            contentFile="cheatsheets/composite.xml"
            id="com.packtpub.e4.advanced.doc.cheatsheet.composite"
            name="Composite cheatsheets">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Platform.xml"
            plugin="org.eclipse.ui">
      </contexts>
   </extension>
</plugin>
