<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.packtpub.e4.advanced.feeds.ui.category"
            name="Feeds">
      </category>
      <wizard
            category="com.packtpub.e4.advanced.feeds.ui.category"
            class="com.packtpub.e4.advanced.feeds.ui.NewFeedWizard"
            icon="icons/full/etool16/newfeed_wiz.gif"
            id="com.packtpub.e4.advanced.feeds.ui.newFeedWizard"
            name="New Feed">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.packtpub.e4.advanced.feeds.ui.FeedContentProvider"
            id="com.packtpub.e4.advanced.feeds.ui.feedNavigatorContent"
            labelProvider="com.packtpub.e4.advanced.feeds.ui.FeedLabelProvider"
            name="Feed Navigator Content">
         <triggerPoints>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="feeds">
                  </test>
               </and>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.packtpub.e4.advanced.feeds.ui.Feed">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.packtpub.e4.advanced.feeds.ui.feedNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.packtpub.e4.advanced.feeds.ui.ShowFeedInBrowserHandler"
            description="Shows the selected feed in browser"
            id="com.packtpub.e4.advanced.feeds.ui.ShowFeedInBrowserCommand"
            name="Show Feed in Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="com.packtpub.e4.advanced.feeds.ui.ShowFeedInBrowserCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="com.packtpub.e4.advanced.feeds.ui.Feed">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
